*{box-sizing: border-box; padding: 0; margin: 0;font-family: 'Average Sans', sans-serif;}
:root{--background_color:#f6f6f6;
--white:#fff; --black:#000; --text_fade: #7c7c7c; --text_dark:#4e4a4a;}
.log_head{margin: 20px 0;}
section{float: left; width: 100%;} 
.bder_none{border: none !important;} 
.left_bar{width: 250px;height: 100vh; float: left; background:var(--background_color); padding-left: 10px;}
.collapsible {background-color:var(--background_color);color:var(--text_dark);cursor: pointer;padding: 10px;width: 100%;border: none;text-align: left;outline: none;font-size: 18px;}  
.collapsible:hover,.active{color: #1420a9; background-color: var(--white); border-right: 2px solid ;}
.content {padding: 0 18px;display: none;overflow: hidden;background-color: var(--background_color);}
li{list-style-type: none;} 
img{max-width: 100%;}  
.msg_count{border-radius: 50%; padding: 1px 6px; color: var(--white);background: #1420a9; font-size: 13px;}
.left_icon{float: left; width: 24px; margin-right: 20px;}
.collapsible:hover .left_icon ,.active {fill: #1420a9;}
.collapsible:hover .left_arrow_down ,.active {fill: #1420a9;}
.collapsible:active .left_arrow_down{rotate: 50deg;}
.left_arrow_down{float: right; width: 23px; margin-right: 5px;}
.left_head{font-size: 12px; padding: 10px; font-weight: 700; color: var(--text_fade); margin-top: 15px;}
.sub_menu{margin-left: 20px; font-size: 17px; color: var(--text_fade); padding: 10px;}
a{text-decoration: none;}
.right_bar{width: calc(100% -250px);padding: 30px;  margin-left: 250px;}
.search_top{position: absolute; width: 24px;float: left; z-index: 1;top: 37px;left: 286px;}
.search_topp{position: absolute; width: 24px;float: left; z-index: 1;top: 172px;left: 286px;}

.input_top{position: relative;height: 38px;border-radius: 10px; padding-left: 40px;outline: none; color: var(--text_dark); font-size: 25px; border: 1px solid var(--text_fade);}
.d-flex{display: flex; width: 100%;}
.search_area{justify-content: start; display: flex; width: 100%;}
.profile_area{justify-content: end; display: flex; width: 100%;}
.m-r-20{margin-right: 20px;}
.m-r-10{margin-right: 10px;}
.profile_top_user{border-radius: 50%; width: 24px; height: 24px;}
.m-t-30{margin-top: 30px;}
.customer_count{padding: 5px 6px;margin-left: 20px; border-radius: 5px; background: #dedada;}
.add_customers{padding: 5px 10px;border: 1px solid var(--white); background: #1420a9; border-radius: 5px; color: var(--white);font-weight: 700;}
.add_customers:hover{background: var(--white); color: #1420a9; border: 1px solid #1420a9;}
.select_info{color: var(--text_fade); font-size: 16px;display: flex;align-items: center;font-weight: 800;}
.delete_info{color: #ff0000; padding: 5px 10px; border: 1px solid #ff0000;display: flex;margin-left: 20px; border-radius: 5px; align-items: center;}
.delete_info:hover{background: #ff0000; padding: 5px 10px;color: var(--white); border: 1px solid #ff0000;}
.delete_info:hover.del_info_icon{fill: var(--white);}
table{width: 100%; float: left;}
table tbody tr td input{margin-right: 10px;}
td{padding: 20px 0;}
thead{padding: 20px;width: 100%; background: #d8e0f2;}
thead tr th{padding: 10px;}
.container {
    float: left;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #1420a9;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


